In [1]:
# import libraries
import pandas as pd
import numpy as np

# load the two tables
table1 = pd.read_excel('../data/processed/reviews_cleaned.xlsx')
table2 = pd.read_excel('../data/processed/banks.xlsx')

In [2]:
# join the tables on the bank_id column
joined = table1.merge(table2, on='bank_id')
joined.head()

,review_id,bank_id,review_date,review_stars,review_text,reviewer_name,review_sentiment,bank_title,bank_category,bank_adress,bank_city,bank_phone,bank_rank,bank_reviews_count,bank_score,bank_latitude,bank_longitude
0,0,608978182545380096,2023-02-27,5,Une très belle équipe .\nJe recommande spécial...,anonymous,POSITIVE,BMCE Group,Banque,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Casablanca,NaN,20,8,3.1,33.585603,-7.633682
1,1,608978182545380096,2022-09-28,5,no text,anonymous,POSITIVE,BMCE Group,Banque,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Casablanca,NaN,20,8,3.1,33.585603,-7.633682
2,2,608978182545380096,2022-05-27,2,no text,anonymous,NEGATIVE,BMCE Group,Banque,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Casablanca,NaN,20,8,3.1,33.585603,-7.633682
3,3,608978182545380096,2022-04-08,1,no text,anonymous,NEGATIVE,BMCE Group,Banque,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Casablanca,NaN,20,8,3.1,33.585603,-7.633682
4,4,608978182545380096,2022-01-08,1,Mauvais service client,anonymous,NEGATIVE,BMCE Group,Banque,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Casablanca,NaN,20,8,3.1,33.585603,-7.633682

In [ ]:
# export the joined table as a excel file
joined.to_excel('../data/processed/dataset.xlsx', index=False)